.main-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: calc(var(--h6) / 1.25);
	box-shadow: rgba(0, 0, 0, .25) 0 1px 5px;
}

.main-header > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 992px;
	padding: 0 var(--h6);
}

.main-header > div > p {
	font-family: 'Lato';
	font-size: var(--h2);
	font-weight: bold;
}

.main-header > div > ul {
	display: none;
	flex-direction: row;
	list-style: none;
}

.main-header > div > ul > li {
	padding: 0 var(--h6);
	transform: translateY(2px);
}

nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: calc(var(--h6) / 1.8);
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, .25) 0 0 4px;
}

nav > ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav > ul > li > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

nav > ul > li > a > span {
	color: rgba(0, 0, 0, 0.54);
	font-size: var(--h6);
}

/* Home */
main > h2 {
	font-size: var(--h3);
}

main h2 > a {
	display: flex;
	align-items: center;
}

main h2 > a > span {
	display: flex;
	align-items: center;
	margin-left: .5rem;
}

main > .person {
	width: 100%;
}

main > .person > .pictures {
	display: flex;
	overflow: auto;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 50vh;
}

main > .person > .pictures > img {
	width: auto;
	height: 100%;
}

main > .person > div {
	padding: var(--h5);
}

main > .person > div > h2 {
	font-size: var(--h1);
}

main > .person > div > h2 > a {
	color: #000;
	text-decoration: none;
}

main > .person > div > p {
	font-size: var(--h5);
}

main > .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
}

main > .buttons > button {
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	min-width: auto !important;
	border-radius: 50%;
}

main > .dislike {
	left: 20px;
}

main > .like {
	right: 20px;
}

@media (min-width: 576px) {
	main > h2 {
		font-size: var(--h4);
	}

	main > .person > div > h2 {
		font-size: var(--h3);
	}

	main > .person > div > p {
		font-size: var(--h6);
	}

	main > .buttons {
		width: auto;
		align-self: flex-start;
		padding: var(--h5);
	}

	main > .buttons > button {
		width: 50px;
		height: 50px;
		margin: 0 calc(var(--h6) / 2);
	}

	main > button {
		position: static;
	}
}

/* Matches / Likes / Dislikes */
main > .tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	padding: var(--h6);
}

main > .tabs > a {
	color: #000;
	font-size: var(--h5);
	text-decoration: none;
}

main > .list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main > .list > h2 {
	font-size: var(--h3);
	text-align: center;
}

main > .list > li {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: var(--h6);
}

main > .list > li > a {
	display: flex;
	align-items: center;
}

main > .list > li > a > span {
	display: flex;
	align-items: center;
	margin-left: .5rem;
}

main > .list > li > img {
	width: 15%;
	margin-right: var(--h4);
}

main > .list > li > a {
	color: #000;
	font-size: var(--h6);
	text-decoration: none;
}

@media (min-width: 576px) {
	main > .tabs > a {
		padding: 0 var(--h4);
		font-size: var(--h6);
	}

	main > .tabs {
		justify-content: center;
	}

	main > .list > h2 {
		font-size: var(--h4);
	}

	main > .list > li > img {
		width: 10%;
	}
}

/* Profile */
main > .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--h6);
}

main > .profile > input {
	width: 100%;
	padding: 5px 0;
	border: none;
	border-bottom: #000000 solid 3px;
	margin: var(--h5) 0;
	background: transparent;
	font-size: var(--h5);
	outline: none;
}

main > .profile > input[type="file"] {
	display: none;
}

main > .profile > span {
	display: flex;
	flex-direction: row;
	align-items: center;
}

main > .profile > span > h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--h3);
}

main > .profile > span > span {
	margin-left: .5rem;
	position: relative;
	cursor: pointer;
}

main > .profile > span > span > ul {
	position: absolute;
	right: 0;
	background-color: #fff;
	min-width: 150px;
	border-radius: .25rem;
	list-style: none;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 5px;
}

main > .profile > span > span > ul > li {
	padding: .5rem .75rem;
	cursor: pointer;
}

main > .profile > span > span > ul > li:hover {
	background-color: rgba(0, 0, 0, .025);
}

main > .profile > span > input {
	margin: var(--h6) 0;
	font-size: var(--h6);
	padding: .25rem;
	border: #bbbbbb solid 1px;
	border-radius: .25rem;
	font-family: 'Raleway';
}

main > .profile > span > p {
	margin: var(--h6) 0;
	font-size: var(--h6);
	display: flex;
	flex-direction: row;
	align-items: center;
}

main > .profile > span > span {
	margin-left: .5rem;
}

main > .profile > form {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

main > .profile > form > button {
	font-size: var(--h6);
}

main > .profile > form > input {
	position: absolute;
	top: 10px;
	display: block;
	width: 200px;
	height: 70%;
	opacity: 0;
	cursor: pointer;
}

main > .profile > .pictures {
	display: grid;
	flex-direction: column;
	grid-gap: var(--h6);
	grid-template-columns: 1fr;
	grid-template-rows: masonry;
	padding: var(--h5) var(--h5) calc(var(--h5) + 74px) var(--h5);
}

main > .profile > .pictures > figure {
	position: relative;
}

main > .profile > .pictures > figure > img {
	width: 100%;
}

main > .profile > .pictures > figure > button {
	position: absolute;
	right: 0;
	top: 0;
	min-width: auto;
	padding: .5rem;
	border: none;
	border-radius: 0;
	margin: 0;
	background-color: transparent;
}

main > .profile > .pictures > figure > button > i {
	opacity: .5;
	cursor: pointer;
}

main > .profile > .pictures > figure > button > i:hover {
	opacity: 1;
}



@media (min-width: 576px) {
	.main-header {
		padding: calc(var(--h6) / 1.5);
	}

	.main-header > div {
		justify-content: space-between;
	}

	.main-header > div > p {
		font-size: var(--h4);
	}

	.main-header > div > ul {
		display: flex;
	}

	nav {
		display: none;
	}

	main > .profile > span > h2 {
	 	font-size: var(--h3);
		font-weight: bold;
		text-align: center;
	}

	main > .profile > span > span > ul {
		left: 0;
		right: auto;
	}

	main > .profile > p {
		font-size: var(--h6);
	}

	main > .profile > form > button {
		font-size: var(--h6);
	}

	main > .profile > .pictures {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	main > .profile > .pictures {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
