.dialog-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .5);
}

.avatar-cropper-dialog {
	max-width: 500px;
	width: 80%;
	background-color: #ffffff;
	padding: var(--h6);
	display: flex;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 5px;
	flex-direction: column;
}

.avatar-cropper-dialog > canvas {
	max-height: 70%;
}

.dialog-controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: var(--h6) 0;
}

.dialog-controls > input {
	width: 80%;
}

.dialog-controls > label {
	font-size: var(--h5);
	margin-right: var(--h6);
}

.dialog-buttons {
	display: grid;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 var(--h6);
}

.dialog-buttons > button {
	min-width: 0px;
	font-size: var(--h6);
}

@media (min-width: 500px) {
	font-size: var(--h5);
}
